<h1>Billboard Top Charts</h1>	<h1>Billboard Top Charts</h1>
<%= link_to "Add New Artist", new_artist_path %>	
<%= link_to "Add New Chart", new_top_path	 %>	<%= link_to "Add New Chart", new_top_path	 %>
<br />	<br />
<br />	<br />
<% @tops.each do |top| %>	<% @tops.each do |top| %>
  <%= link_to top.name, top %>	  <%= link_to top.name[:id], top %>
<% end %>