<h1><%= @top.name %></h1>

<div class="ui divider"></div>

<%= link_to 'Edit Top Chart', edit_top_path(@top), class: "ui red basic button" %>

<%= link_to 'Delete Top Chart', @top, method: :delete , class: "ui red basic button" %>

<%= link_to 'Back to Main Page', root_path, class: "ui red basic button" %> <br /><br/>

<%= link_to 'Add new Song', new_artist_song_path(:id), class: "ui blue basic button" %>

<%= link_to 'View Artists', artists_path(@artist), class: "ui violet basic button" %>


</div>


