<h1>&emsp;SONGS</h1>
<div class="ui divider"></div>
&emsp;<%="The List of Songs Added : " %><br /> <br />
<% @songs.each_with_index do |song, i| %>
    &emsp;<%= "#{i+1}. \t"  %>
    <%= link_to song.title, [@artist, song] %> <br />
<% end %>
<div class="ui divider"></div>
&emsp;<%= link_to 'Add a New Song', new_artist_song_path, class: "ui violet basic button"%>
<%= link_to 'Go Back', artists_path, class: "ui violet basic button" %> <br /><br />

